.PageLearnMore{
    width: 100%;
}
.banner-media{
    display: flex;
}
.banner-bg-img{
    max-width: 100vw;
    object-fit: cover;
    height: auto;
}
.LearnMore-title, .user-signup__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Interstate-black;
}
.LearnMore-title h1{
    font-size: 25px;
    font-weight: bolder;
    /* justify-content: center; */
    padding-top: 70px;
    padding-bottom: 35px;
    margin: 0;
}   
.LearnMore-title p{
    color: var(--text-color);
    padding-bottom: 70px;
    font-size: 20px;
}
.user-signup__form{
    width: 500px;
    margin: auto;
}
.user-signup__input{
    font-size:18px ;
}
.user-signup-in-LearnMorePage{
    height: 40px;   
}
